# Data Structure with Python Week 8
### Input a dataset in csv form and then do the following question.
https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil use this link to download the dataset.

## Kinjal Raykarmakar
CSE2H Roll 29

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("amazon.csv", encoding='cp1252')

In [3]:
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

## 1. Find out the row and column name of the dataset.

In [4]:
df.columns #    1a

Index(['year', 'state', 'month', 'number', 'date'], dtype='object')

In [5]:
df.index.values #   1b

array([   0,    1,    2, ..., 6451, 6452, 6453], dtype=int64)

## 2. How fire occurred in the 2016 .

In [6]:
fire_2016 = 0   #   2
year_filter = df['year'] == 2016
df_2016 = df[year_filter]

print(df_2016['number'].sum())

42212.229

## 4. Find out many rows are there in the dataset.

In [7]:
len(list(df.index.values))  #   4

6454